---
Name: fromholdio-superlinker-menus-example
---
Fromholdio\SuperLinkerMenus\Model\MenuSet:
  has_one:
    Parent: SilverStripe\SiteConfig\SiteConfig
  menus:
    main:
      name: 'Main Menu'
      enable_title: true
      limit: 6
      max_depth: 1

SilverStripe\SiteConfig\SiteConfig:
  extensions:
    - Fromholdio\SuperLinkerMenus\Extensions\MenuSetParentExtension

